<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard Template for Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="../styles/dashboard.css" rel="stylesheet">
    <link href="../styles/form-validation.css" rel="stylesheet">

</head>

<body data-new-gr-c-s-check-loaded="8.896.0" data-gr-ext-installed="">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Dummy Bank of Zootopia</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-home">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                </svg>
                                Home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/users">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-file">
                                    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                    <polyline points="13 2 13 9 20 9"></polyline>
                                </svg>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/transfer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-shopping-cart">
                                    <circle cx="9" cy="21" r="1"></circle>
                                    <circle cx="20" cy="21" r="1"></circle>
                                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                </svg>
                                Credit/Debit
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Transfer</h1>
                    <p>
                        <%= user.name %>
                    </p>
                </div>
                <div class="container">
                    <% if(typeof alert !='undefined' ) { %>
                        <% alert.forEach(function(error) { %>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <%= error.msg %>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                            </div>
                            <% }) %>
                                <% } %>

                                    <div class="row">
                                        <div class="col-md-8 order-md-1">
                                            <h4 class="mb-3">Details</h4>
                                            <form action="/admin/transfer" method="POST">
                                                <div class="mb-3">
                                                    <label for="user_accountNumber">Your Account Number</label>
                                                    <div class="input-group">
                                                        <input id="user_accountNumber" name="user_accountNumber"
                                                            class="form-control" value=<%=accountNumber %>
                                                        disabled>
                                                    </div>

                                                    <label for="accountNumber">Account Number</label>
                                                    <div class="input-group">
                                                        <select class="selectpicker" data-style="btn-info"
                                                            name="accountNumber">
                                                            <optgroup label="Select Table">
                                                                <option value="">Select user</option>
                                                                <% users.forEach(function(user_ind){ %>
                                                                    <option value="<%= user_ind.accountNumber %>">
                                                                        <%= user_ind.name %>
                                                                    </option>
                                                                    <% }) %>
                                                            </optgroup>
                                                        </select>

                                                        <!-- <input type="number" name="accountNumber" class="form-control"
                                                            id="accountNumber" placeholder="1234567890123456"
                                                            required="true"> -->
                                                        <div class="invalid-feedback" style="width: 100%;">
                                                            A/C Number is required.
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3 mb-3">
                                                        <label for="credit">Credit?</label>
                                                        <input type="checkbox" name="isCredit" id="isCredit"
                                                            aria-label="Checkbox for following text input">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3 mb-3">
                                                        <label for="amount">Amount</label>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">₹</span>
                                                            <span class="input-group-text">0.00</span>
                                                        </div>
                                                        <input name="amount" type="number" class="form-control"
                                                            step=".01"
                                                            aria-label="Rupee amount (with dot and two decimal places)"
                                                            required="true">
                                                        <div class="invalid-feedback">
                                                            Amount required.
                                                        </div>
                                                    </div>
                                                </div>


                                                <hr class="mb-4">

                                                <h4 class="mb-3">Payment</h4>


                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue
                                                    to
                                                    checkout</button>
                                            </form>
                                        </div>
                                    </div>

                                    <footer class="my-5 pt-5 text-muted text-center text-small">
                                        <p class="mb-1">© 2017-2018 Dummy Bank of Zootopia</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><a href="#">Privacy</a></li>
                                            <li class="list-inline-item"><a href="#">Terms</a></li>
                                            <li class="list-inline-item"><a href="#">Support</a></li>
                                        </ul>
                                    </footer>
                </div>
            </main>
        </div>
    </div>

</body>

</html>